.game-info {
    box-sizing: border-box;
    margin-top: 10px;
    background-color:#24292E;
}

.game-info img {
    padding: 10px 0 10px 0;
    height: 370px;
}
.col-md-3{
    box-sizing: border-box;
    box-shadow: 0 0 5px #333;
}
.col-md-3 img{
    height: 350px;
    width: 250px;
}
.col-md-9{
    box-sizing: border-box;
    box-shadow: 0 0 5px #333;
    color: white;
    padding-top: 20px;
}
.col-md-9 p{
    margin-top: 20px;
    font-size: 15px;
    }
.col-md-12{
    height: 265px;
    background-color: #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0 0 5px #333;
}
.col-md-12 p{
    margin-top: 10px;
}
